################################################################################
# Bu .gitignore dosyası Microsoft(R) Visual Studio tarafından otomatik olarak oluşturulmuştur.
################################################################################

/.vs
/out
/lib/FiguraSDK.lib
/examples/out
/examples/assets/death star
/examples/assets/droid
/examples/assets/zefir cam
/examples/assets/argus cam
/examples/assets/gear
